Flask==3.0.1
opencv-python-headless==4.11.0.86  # 'opencv-python-headless' for no GUI support (if running in server environments)
mediapipe==0.10.18  # Check for the latest version
numpy==1.26.4
paho-mqtt==2.1.0
